extends ../common/head
block content
  h1 Create transactions
  form(action="/transactions", method="post")
    label(for="user")
    select#user(name="userId")
      each val in users
        option(value=val.id)=val.name
    label(for="book")
    select#book(name="bookId")
      each val in books
        option(value=val.id)=val.title
    button add